body {
	background-image: url("https://www.wikihow.com/images/a/ad/Draw-Pusheen-the-Cat-Step-9.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: #2e00ff;
	font-family: Impact;
}

a {
	color: #009605;
	background: #afafaf;
	padding: 4px 15px;
	font-size: 20px;
}

p {
	color: black;
}

.tokavari {
	color: #999;
}
