body {
	font-family: Arial Black;
}

h1 {
	color: #2e00ff;
	font-family: Impact;
}

a {
	color: #009605;
	background: #afafaf;
	padding: 4px 15px;
	font-size: 20px;
}

p {
	color: black;
}

.tokavari {
	color: #999;
}
